.card {
  width: 100%;
  max-width: 275px;
  height: 350px;
  background-color: rgba(238, 130, 238, 0.524);
}

.card-3d {
  cursor: pointer;
  perspective: 1000px;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
}

.card-3d:hover {
  transform: rotateY(8deg) rotateX(3deg) scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.card-3d .card-body,
.card-3d img {
  transition: transform 0.250ms ease;
}

.card-3d:hover .card-body {
  transform: translateZ(20px);
}

.card-3d:hover img {
  transform: translateZ(10px);
}

.card-title {
  flex-direction: column;
  gap: 20px;
}

.card_body_img {
  width: 100%;
  height: auto;
}

.card-img-top {
  margin-top: 25px;
  background-color: transparent;
  width: 150px;
  height: auto;
  border-radius: 0.75rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card-3d:hover .card-img-top {
  transform: translateZ(20px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#mini-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

#mini-card-content.loading {
  opacity: 0.4;
  pointer-events: none;
}